/* Página de estil0 - Landing Page - TOP */

body {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;

}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
    flex-grow: 1;
}

ul {
    display: flex;
    align-self: flex-end;
    color: white;
}

li {
    list-style: none;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 18px;
    color: #e5e7eb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo img {
    max-height: 50px;
    flex: auto;
    padding-top: 20px;
}

.section1 {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 50px;
    flex-wrap: wrap;
    align-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 50px;
}

.left-s1 {
    max-width: 50%;
    flex: 1 1 auto;
}

.left-s1 h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.left-s1 p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #F9FAF8;
}

.left-s1 button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 15px 30px;
}

.left-s1 button:hover {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #1f2937;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 15px 30px;
}



.right-s1 img {
    max-width: 400px;
    align-self: stretch;
    max-height: max-content;

}
.title-s2 {
    display: flex;
    justify-content: center;
}
.title-s2 h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding-bottom: 20px;
}

.container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: flex-start;
    padding-bottom: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.item img {
    max-width: 220px;
    border: 0px solid transparent;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 10px grey;

}

.item .text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #1f2937;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.citacao {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 15vw;
    padding-right: 15vw;
}

.quote {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.nome {
    display: flex;
    justify-content: flex-end;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    color: #1f2937;
    font-weight: bold;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    padding: 50px 120px 50px 120px;
    border-radius: 12px;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-grow: 1;

}

.box .chamadas {
    display: flex;
    flex-grow: 1;
    flex-flow: column wrap;
    justify-content: center;
    padding-right: 160px;
}

.chamada {
    display: flex;
    justify-content: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}

.chamadas .text {
    display: flex;
    justify-content: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.button {
    color: #fff;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: medium;
}

.button:hover {
    color: #3882F6;
    background-color: #fff;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: medium;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.footer .text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: lighter;
}